.filters {
    max-width: 460px;
    width: 100%;
    height: calc(100vh - 140px);
    position: fixed;
    top: 140px;
    right: -460px;
    z-index: 2;
    border-left: 1px solid var(--gray-color);
    border-top: 1px solid var(--gray-color);
    background-color: white;
    padding: 2rem 1rem;
    transition: right 0.3s;
}

.filters.expand {
    right: 0;
    transition: right 0.3s;
}

.header {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--gray-color);
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close_icon {
    cursor: pointer;
    font-size: 1.9rem;
}

.filters h3 {
    font-size: 1.9rem;
}

.filters form {
    width: 100%;
}

.filter_inner {
    position: relative;
    margin-bottom: 1rem;
}

.filters h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

.filters input {
    width: 100%;
    padding: 0.7rem 1rem;
    border: 1px solid #ccc;
    height: 66px;
    outline: none;
	font-size: .9rem;
	font-weight: 300;
}

.clear_input {
    position: absolute;
    right: 10px;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    cursor: pointer;
	font-size: 1.2rem;
}

.apply_btn {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    padding: 0 2rem;
    background: var(--primary);
    border: 1px solid var(--secondary);
    color: var(--secondary);
    cursor: pointer;
    height: 56px;
    font-weight: 700;
}

.apply_btn:hover {
    background: transparent;
}

@media (max-width: 768px) {
    .filters {
        padding: 1rem 2rem;
    }

    .apply_btn {
        right: 2rem;
    }
}

@media (min-height: 786px) {
	.filters {
		top: 150px;
		height: calc(100vh - 150px);
	}
}