.signup {
    height: 100%;
}

.signup__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
    height: 100%;
}

.signup_form {
    width: 400px;
    margin-bottom: 2rem;
}

.signup_form h1 {
    font-size: 3rem;
}

.signup_form h1 span {
    color: var(--primary);
    text-shadow: 
        -1px -1px 0 var(--secondary),
        1px -1px 0 var(--secondary),
        -1px 1px 0 var(--secondary),
        1px 1px 0 var(--secondary);
}

.line {
    width: 40px;
    height: 4px;
    background: var(--secondary);
    margin-bottom: 2rem;
}

.signup_form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.signup_form form input {
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    height: 60px;
    outline: none;
}

.fullname {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.fullname input {
    width: 48%;
}

.signup_form form button {
    padding: 0.5rem;
    background: var(--primary);
    border: 1px solid var(--secondary);
    color: var(--secondary);
    cursor: pointer;
    height: 60px;
    font-weight: 700;
}

.login {
    margin-top: .7rem;
}

.login a {
    text-decoration: underline;
}

.signup_image {
    position: relative;
    width: 400px;
    height: 400px;
    margin-bottom: 2rem;
}

.signup_image img {
    height: auto !important;
}

@media screen and (max-width: 1024px) {
    .signup_image {
        display: none;
    }

    .signup__inner {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .signup__inner {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 555px) {
    .signup_form {
        width: 80%;
    }

    .signup_form h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .signup_form {
        width: 100%;
    }

    .line {
        width: 30px;
    }
}