.signup {
    height: 100%;
	width: 100%;
	padding: 0 6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.signup__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
	max-width: 1124px;
	width: 100%;
	padding-bottom: 12rem;
	padding-top: 3rem;
}

.signup_form {
    max-width: 460px;
	width: 100%;
    margin-bottom: 2rem;
}

.signup_form h1 {
    font-size: 3rem;
}

.signup_form h1 span {
    color: var(--primary);
    text-shadow: 
        -1px -1px 0 var(--secondary),
        1px -1px 0 var(--secondary),
        -1px 1px 0 var(--secondary),
        1px 1px 0 var(--secondary);
}

.line {
    width: 40px;
    height: 4px;
    background: var(--secondary);
    margin-bottom: 2rem;
}

.signup_form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.signup_form form input {
    padding: 0.7rem 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    height: 80px;
    outline: none;
	font-size: 1.1rem;
}

.fullname {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.fullname input {
    width: 48%;
}

.signup_form form button {
    padding: 0.5rem;
    background: var(--primary);
    border: 1px solid var(--secondary);
    color: var(--secondary);
    cursor: pointer;
    height: 80px;
    font-weight: 700;
	font-size: 1.2rem;
}

.login {
    margin-top: .7rem;
	font-size: 1.1rem;
}

.login a {
    text-decoration: underline;
}

.signup_image {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.signup_image img {
    height: auto !important;
    width: 80% !important;
    position: relative !important;
}

@media screen and (max-width: 1290px) {
    .signup_image {
        display: none;
    }

    .signup__inner {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .signup {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 555px) {
    .signup_form {
        max-width: 100%;
    }

    .signup_form h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 480px) {
    .signup_form {
        width: 100%;
    }

    .line {
        width: 30px;
    }
}