.course {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  transition: transform 0.3s;
}

.course:hover {
  transform: scale(1.01);
  transition: transform 0.3s;
}
  
.course h1 {
  font-size: 1rem;
}
  
.course p {
  font-size: 0.9rem;
}
  
.course .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}