.login {
    height: 100%;
	width: 100%;
	padding: 0 6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
	max-width: 1124px;
	width: 100%;
	padding-bottom: 12rem;
	padding-top: 3rem;
}

.login_form {
	max-width: 460px;
	width: 100%;
    margin-bottom: 2rem;
}

.login_form h1 {
    font-size: 3rem;
}

.login_form h1 span {
    color: var(--primary);
    text-shadow: 
        -1px -1px 0 var(--secondary),
        1px -1px 0 var(--secondary),
        -1px 1px 0 var(--secondary),
        1px 1px 0 var(--secondary);
}

.line {
    width: 40px;
    height: 4px;
    background: var(--secondary);
    margin-bottom: 2rem;
}

.login_form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login_form form input {
    padding: 0.7rem 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    height: 80px;
    outline: none;
	font-size: 1.1rem;
}

.login_form form button {
    padding: 0.5rem;
    background: var(--primary);
    border: 1px solid var(--secondary);
    color: var(--secondary);
    cursor: pointer;
    height: 80px;
    font-weight: 700;
	font-size: 1.2rem;
}

.register {
    margin-top: 1rem;
	font-size: 1.1rem;
}

.register a {
    text-decoration: underline;
}

.login_image {
    position: relative;
    width: 400px;
    height: 400px;
    margin-bottom: 2rem;
}

.login_image img {
    height: auto !important;
}

@media screen and (max-width: 1290px) {
    .login_image {
        display: none;
    }

    .login__inner {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {

	.login {
		padding: 0 2rem;
	}
}

@media screen and (max-width: 555px) {
	.login_form {
		max-width: 100%;
	}

    .login_form h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 480px) {
    .login_form {
        width: 100%;
    }

    .line {
        width: 30px;
    }
}